.rodape {
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 1.5vh 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .5rem;
}

.creditos {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}
