.container {
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw;
}

.sectionsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.titulo {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--vermelho);
    margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
    .titulo {
        font-size: 2.5rem;
    }
}