.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
}

.sectionsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.titulo {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--vermelho);
}

.sprites {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    border: 5px solid var(--preto);
    border-radius: 1.75rem;
    padding: .5rem;
}

.sprite {
    min-height: 15vh;
    min-width: 15vw;
}

.informacoes {
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: max-content;
    padding: 2vh 3vw;
    border-radius: 1.75rem;
    border: 5px solid var(--cinza);
    color: var(--branco);
    background-color: var(--vermelho);
}

.informacoes h3 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0 0 1rem 0;
}

.informacoes ul {
    margin: 0;
    padding: 0;
}

.informacoes li {
    font-size: 2rem;
    text-transform: capitalize;
    list-style: none;
    font-weight: 300;
    margin: 0;
    padding-left: 1rem;
    color: var(--cinza-claro);
}

.divisoria {
    width: 5px;
    background-color: var(--preto);
    height: auto;
}

@media screen and (max-width: 768px) {
    .titulo {
        font-size: 2.5rem;
    }
    .divisoria {
        display: none;
    }
    .informacoes {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .informacoes h3 {
        font-size: 2rem;
    }
    .informacoes li {
        font-size: 1.5rem;
    }
}