.cabecalho {
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 3vh 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.texto {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: all 500ms;
    color: var(--branco);;
}

.texto:hover {
    opacity: 0.8;
}

.titulo {
    margin: 0;
    font-size: 3rem;
    font-weight: 400;
}

.imagem {
    max-width: 3rem;
    max-height: 3rem;
    filter: invert();
}

.icone {
    max-height: 5.25rem;
    max-width: 5.25rem;
    transform: rotate(10deg);
}
