.informacoes {
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: max-content;
    padding: 2vh 3vw;
    border-radius: 1.75rem;
    border: 5px solid var(--preto);
    color: var(--branco);
    background-color: var(--vermelho);
}

.informacoes h3 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0 0 1rem 0;
}

.dados {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    justify-content: center;
}

.dados span {
    font-size: 2rem;
    height: auto;
    text-transform: capitalize;
    text-align: center;
    list-style: none;
    font-weight: 300;
    width: max-content;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: var(--creme);
}

.divisoria {
    width: 5px;
    background-color: var(--preto);
    height: auto;
}

@media screen and (max-width: 768px) {
    .divisoria {
        display: none;
    }
    .informacoes {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }
    .informacoes h3 {
        font-size: 2rem;
    }
    .dados span {
        font-size: 1.5rem;
    }
}